<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    <div id="main">
      {{>navbar}}

    <!-- main header -->
    
    <div id="errorpage"class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <figure class="error">
                    <img src="images/404 error.jpg" alt="error 404" class="img-fluid">
                </figure>
                
                <p>Welcome to Weather app</p>
                <h2>Oops! <span>Page not found</span></h2>
                <a href="/"><button>Go back</button></a>
            
            </div>
        </div>
    </div>
    {{>footer}}

    </div>
    
  </body>
</html>